* {
  box-sizing: border-box;
}
html {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 16px;
}
body {
  margin: 0;
}
h1,
h2,
h3,
h4 {
  font-family: Arial, Helvetica, sans-serif;
}
header {
  padding: 30px;
  text-align: center;
  background-color: rgb(0, 255, 13);
}
main {
  padding: 1rem;
  max-width: 90ch;
}
a {
  color: red;
  margin-left: 1rem;
}
a:hover {
  background-color: black;
  color: white;
}
a:active {
  color: hotpink;
}
article + article {
  border-top: solid 0.5rem Blue;
}
::selection {
  background-color: black;
  color: white;
}
.soccer::after {
  content: "⚽";
}

.electro::after {
  content: "🧑‍🔧";
}

.experience-heading {
  display: inline-block;
}

.experience-subheading {
  display: inline-block;
}

.Batch {
  background-color: blue;
  padding: 1rem;
  position: absolute;
  color: white;
  right: 1rem;
  top: 1rem;
  font-size: 1, 5rem;
  border-radius: 0.5rem;
}

.heading {
  position: relative;
  left: -0.8rem;
}

.title {
  font-size: 4rem;
}

.sub-title {
  font-size: 1rem;
}
