* {
  box-sizing: border-box;
}
html {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 16px;
  --main-color: rgb(10, 189, 10);
  --body-color: white;
  --link-color: red;
  --text-color: black;
  --batch-color: blue;
}
body {
  margin: 0;
}
h1,
h2,
h3,
h4 {
  font-family: Arial, Helvetica, sans-serif;
}
.Head {
  padding: 30px;
  text-align: center;
  background-image: linear-gradient(var(--main-color), var(--body-color));
}

.navigation {
  display: flex;
  flex-direction: column;
  text-align: left;
}

main {
  padding: 1rem;
  max-width: 90ch;
}

.experience-head {
  display: flex;
  flex-direction: column;
}

a {
  color: var(--link-color);
  margin-left: 1rem;
}
a:hover {
  background-color: var(--text-color);
  color: var(--body-color);
}
a:active {
  color: hotpink;
}
article + article {
  border-top: solid 0.5rem var(--main-color);
}
::selection {
  background-color: var(--text-color);
  color: var(--body-color);
}
.soccer::after {
  content: "⚽";
}

.electro::after {
  content: "🧑‍🔧";
}

.experience-heading {
  display: inline-block;
}

.experience-subheading {
  display: inline-block;
}

.Batch {
  background-color: var(--batch-color);
  padding: 1rem;
  position: absolute;
  color: var(--body-color);
  right: 1rem;
  top: 1rem;
  font-size: 1, 5rem;
  border-radius: 0.5rem;
}

.heading {
  position: relative;
  left: -0.8rem;
}

.title {
  font-size: 4rem;
}

.sub-title {
  font-size: 1rem;
}

@media print {
  .Batch {
    display: none;
  }
  .navigation {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  html {
    font-size: 18px;
  }
  .navigation {
    flex-direction: row;
  }
  .experience-head {
    flex-direction: row;
    justify-content: space-between;
  }
}
@media screen and (min-width: 992px) {
  html {
    font-size: 20px;
  }
  .Batch {
    position: fixed;
  }
}

.footer {
  background-color: var(--main-color);
  padding: 2rem;
}
