* {
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
body {
  margin: 0;
}
h1,
h2,
h3,
h4 {
  font-family: Arial, Helvetica, sans-serif;
}
header {
  padding: 30px;
  text-align: center;
  background-color: rgb(0, 255, 13);
}
main {
  padding: 16px;
}
